/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}



/*Added by Me*/
html, body, .container-fluid, .site-background {
    min-height: 100%;
    height: 100%;
    font-family: 'Kreon', serif;
    font-size: 18px;
}

.site-foreground {
    background-color: #d5d5d5;
    margin-top: 20px;
    border-radius: 10px;
}

.site-background {
    background: url("dark_embroidery.png");
    width: inherit;
}

.btn-info {
    color: #fff;
    background-color: #68A6F1;
    border-color: #46b8da;
}

.navbar {
    margin-bottom: 0px;
}

.navbar-brand{
    font-size:22px;
}

.recipe-card {
    text-align: center;
    font-size: 18px;
    background-color: #3b3b3b;
    color: #d5d5d5;
    border-radius: 5px;
    padding: inherit;
    padding-top: 1px;
    margin-top: 30px;
}

.recipe-card a {
    color: #9E9E9E;
}

.recipe-card-image {
    margin: 0 auto;
    /*width: 300px;*/
    /*height: 300px;*/
}

.img-responsive {
    width: 150px;
    height: 150px;
    border-radius: 10px;
}